@import './reset';

@import './colors';

@import './bg-water';
@import './buttons';
@import './fish';
@import './floating';
@import './form';
@import './gameboard';
@import './levelselector';
@import './logo';
@import './mainbar';
@import './scale';
@import './scrollbars';
@import './shake-me';
@import './sidebar';
@import './screenreaders';
@import './typography';

.container {
  min-height: calc(100vh);
  margin: 0 auto;
}

.level {
  align-items: center;
  display: flex;
  padding: 1.6rem 0;
}

@media screen and (min-width: 800px) {
  .container {
    align-items: stretch;
    display: flex;
  }
}
