@import './reset';

@import './colors';

@import './bg-water';
@import './buttons';
@import './fish';
@import './floating';
@import './form';
@import './gameboard';
@import './levelselector';
@import './logo';
@import './scale';
@import './shake-me';
@import './sidebar';
@import './screenreaders';
@import './typography';

.container {
  align-items: stretch;
  display: flex;
  min-height: calc(100vh);
  margin: 0 auto;
}

.mainbar {
  width: calc(100% - 20em);
}

.level {
  display: flex;
  padding: 1rem 0;
}
