.fish {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  text-indent: -999em;
  transform: scale(.6);
}

@each $key, $value in $colors {
  .fish.#{$key} .body {
    fill: color($key);
  }
}
