.floating {
  animation-direction: alternate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.floating-1 {
  animation-name: floating-1;
}

.floating-2 {
  animation-name: floating-2;
}

@keyframes floating-1 {
  0%, 100% {
    transform: translate(0, 0) scale(.65);
  }
  50% {
    transform: translate(0, .5rem) scale(.65);
  }
}

@keyframes floating-2 {
  0%, 100% {
    transform: translate(0, 0) scale(.65);
  }
  50% {
    transform: translate(0, -.5rem) scale(.65);
  }
}
