.gameboard {
  height: 100%;
  position: relative;
  width: 100%;

  ul {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &.fishies {
      z-index: 1;
    }
  }

  li {
    height: 0;
    padding: 0 0 20% 0;
    position: relative;
    width: 20%;
  }

  .gamepiece {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

