.gameboard {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #91E6FF, #23A6D5, #0096F4, #41FFD2);
  background-size: 400% 400%;
  height: 100%;
  position: relative;
  width: 100%;

  ul {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &.fishies {
      z-index: 1;
    }
  }

  li {
    height: 0;
    padding: 0 0 20% 0;
    position: relative;
    width: 20%;
  }

  .gamepiece {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
