.logo {
  margin-bottom: 2rem;
  width: 26rem;
}

.logo svg {
  fill: #fff;
  display: block;
  height: auto;
  width: 100%;

  .left-scale {
    fill: color('orange');
  }

  .right-scale {
    fill: tint(color('orange'), 40%);
  }
}
