.scale {
  height: 100%;
  position: relative;
  text-indent: -999em;
  transform: scale(.85);
  width: 100%;
}

@each $key, $value in $colors {
  .scale.#{$key} .left-scale {
    fill: tint(color($key), 65);
  }
}

@each $key, $value in $colors {
  .scale.#{$key} .right-scale {
    fill: tint(color($key), 75);
  }
}
