.shake-me {
  animation-direction: alternate;
  animation-duration: .25s;
  animation-iteration-count: 2;
  animation-name: shake;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-.5rem, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(.5rem, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
