header {
  align-items: center;
  display: flex;
  padding: 3em 0;
}

header .logo {
  width: 18em;
}

.logo svg {
  display: block;
  height: auto;
  width: 100%;
}

.logo span {
  text-indent: -999em;
  position: absolute;
}
